# Ignorar dependencias
node_modules/
package-lock.json
package.json

# Ignorar configuraciones personales
.bash_history
.gitconfig
.lesshst
.node_repl_history
.cursor/

# Ignorar archivos del sistema de Windows
AppData/
Desktop/
Favorites/
OneDrive/
Saved Games/
Searches/
Videos/
NTUSER.DAT*
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini

# Ignorar todas las carpetas de semanas y proyectos que no trabajas
Semana-3/
clase_ppp/
ppp-modulo2-semana1-dia1/
programadores-para-la-paz-*/
repaso/
semana-5/
semana-6/
semana-7/
semana2/
semana3/
semana4/
semana7/
